<div class="post post-tile">
  <h1>{{#link-to 'blogpost' blogpost.id}}{{blogpost.title}}{{/link-to}}</h1>
  <h4>{{blogpost.author}}, {{blogpost.date}}</h4>
  <p>
    {{shortText blogpost.article}} ... {{#link-to 'blogpost' blogpost.id}}more{{/link-to}}
  </p>
</div>
