<header class="jumbotron">
  <h1>Ridiculous Political Rants</h1>
</header>

{{outlet}}

<footer class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav nav-pills">
      <li role="presentation">{{#link-to 'about'}}About{{/link-to}}</li>
      <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li role="presentation">{{#link-to 'contact'}}Contact{{/link-to}}</li>
      <li role="presentation">{{#link-to 'admin'}}Admin{{/link-to}}</li>
    </ul>
  </nav>

</footer>
